.timesel {
    width: 100px;
}

.histtitle {

}

#sch_table {
    width: 100%;
}

.image_holder {
    margin-left: 240px;
    margin-top: 100px;
}

#est {
    width: 100%;
    border-spacing: 0px;
}

.centering {
    width: 90%;
    margin: 5%;
}
    

#history_graph {
    height: 300px;
    width: 660px;
}

td {
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gray;
}

tr:last-child > td {
    border-width: 0px;
}

th {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.content {
    background-color: #EEF7FF;
    border-color: #638291;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
}

#selects {
    height: 100%;
    width: 240px;
    height: 600px;
}

#title {
    background-color: #7D9C9F; /*#E8EFF3;*/
    color: #333; /*#638291;*/
    font-family:"Times New Roman", Times, serif;
}

#map {
    width: 96%;
    height: 360px;
    margin: 2%;
}

.borderbottom {
    border-color: #638291;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin-bottom: 5px;
}

h3 {
    margin: 0;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

select {
    width: 96%;
    margin: 2%;
}

.who {
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    background-color: #7D9C9F;
    color: #333;
    border-style: solid;
    border-color: #638291;
    border-width: 2px 0px 0px 0px;
}

p {
    margin: 5px;
    text-align: center;
}

#content {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 700px;
    margin-left: -350px;
}

#map_container {
    padding: 10px;
    float:right;
    width:400px;
    height: 580px;
}

.rounded {
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
}

.roundedbottom {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.roundedtop {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*
#title {
    background-color: green;
    width: 720px;
    margin-left: -10px;
    margin-top: -10px;
    height: 50px;
}



#selects {
    background-color: red;
    margin: 0 auto;
}

h1 {
    text-align: center;
    height: 40px;
}

#selects {

}*/

.overlay_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 4px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}